@import 'variables.css';

* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--color-bg-light);
    color: white;
}

/* css general para TODO */

section ul li a {
    text-decoration: none;
    list-style: none;
    color: white;
}

section ul {
    list-style: none;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--color-purple-grey);
}

header figure {
    display: flex;
    flex-direction: column;
}

header figure a img {
    width: 100%;
}

header a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
}

nav {
    background: var(--color-purple-light);
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.gallery article figure img{
    width: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table th {
    background-color: var(--color-cyan-200);
    color: black;
    border: 0.05em solid white;
}

table tr td {
    border: 0.05em solid white;
}


table tr td:hover {
    background: var(--color-purple-grey);
}

footer a {
    text-decoration: none;
    text-align: center;
    color: white;
}

footer {
    background: var(--color-purple-light);
    padding: 0.5%;
    font-size: 1.1em;
}

/* mobile first css */

/* css para moviles */

@media all and (min-width:320px) {

    section ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header figure {
        width: 20%;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin-bottom: 2%;
        text-align: center;
    }

    #menu-block {
        background: var(--color-purple-light);  
    }

    #menu-block img {
        width: 10%;
    }

    #menu-block #close {
        display: none;
    }

    #menu-block #nav-links {
        height: 0;
        transition: height 1s ease;
        overflow: hidden;
    }

    #menu-block:target #open {
        display: none;
    }

    #menu-block:target #close {
        display: block;
    }

    #menu-block:target #nav-links {
        height: 20vh;
        transition: height 1s ease;
    }

    table {
        width: 90%;
        margin: 0 auto;
        font-size: 1.3em;
    }

    tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.7rem;
    }

    table td {
        padding: 0.3em 0.3em 0.3em 0;
        border-right: 0;
    }

    .form {
        width: 95%;
        margin: 0 auto;
        font-size: 1.2em;
    }

    .form label {
        display: block;
        width: 75%;
        margin-top: 1%;
    }

    .form input[type=text], .form input[type=email] {
        display: block;
        width: 50%;
        height: 4vh;
    }

    .form select {
        width: 22%;
        display: block;
        height: 4vh;
    }

    .form .btn-form {
        display: block;
        width: 50%;
        font-size: 1em;
        margin-top: 1%;
        margin-bottom: 1vh;
    }





}

/* css para tablets */

@media all and (min-width:768px) {

    section ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header figure {
        width: 10%;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    nav ul li {
        margin-bottom: 2%;
    }

    #menu-block:target #nav-links {
        height: 15vh;
        transition: height 1s ease;
    }

    #menu-block {
        background: var(--color-purple-light);
    }

    #menu-block img {
        width: 4%;
    }

    #menu-block #close {
        display: none;
    }

    #menu-block #nav-links {
        height: 0;
        transition: height 1s ease;
        overflow: hidden;
    }

    #menu-block:target #open {
        display: none;
    }

    #menu-block:target #close {
        display: block;
    }

    #menu-block:target #nav-links {
        transition: height 1s ease;
    }

    .articles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .articles article {
        width: 40%;
    }

    .gallery article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .gallery figure {
        width: 40%;
    }

    .form input[type=text], .form input[type=email] {
        display: inline-block;
        width: 40%;
        height: 3vh;
    }

    .form select {
        width: 10%;
        display: inline-block;
        height: 3vh;
    }

    .form .btn-form {
        display: inline-block;
        width: 20%;
        font-size: 1em;
        margin-top: 1%;
        margin-bottom: 1vh;
    }


    
}

/* css para desktop pequeñas */

@media all and (min-width:1024px) {

    header figure {
        width: 5%;
    }

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav ul li {
        margin-left: 2%;
    }

    #menu-block:target #nav-links {
        height: 4vh;
        transition: height 1s ease;
    }

    #menu-block {
        background: var(--color-purple-light);
    }

    #menu-block img {
        width: 1.5%;
    }

    #menu-block #close {
        display: none;
    }

    #menu-block #nav-links {
        height: 0;
        transition: height 1s ease;
        overflow: hidden;
    }

    #menu-block:target #open {
        display: none;
    }

    #menu-block:target #close {
        display: block;
    }

    #menu-block:target #nav-links {
        transition: height 1s ease;
    }

    tr, .titulos-tabla {
        display: table-row;
    }

    th, td {
        padding: 0.5em;
        width: calc(100%/6);
        vertical-align: top;
    }

    .articles {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .articles article {
        width: 30%;
    }

    .gallery article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .gallery figure {
        width: 30%;
    }

    .form input[type=text], .form input[type=email], .form label {
        display: inline-block;
        width: 15%;
        height: 3vh;
    }

    /* .form label{
        width: 15%;
        border: 0.05em solid white;
    } */

    .form select {
        width: 4%;
        height: 3vh;
    }

    .form textarea {
        display: block;
    }

    .form .btn-form {
        display: inline-block;
        width: 5%;
        font-size: 1em;
        margin-top: 1%;
        margin-bottom: 1vh;
    }
    
}

/* css para desktop grandes */

@media all and (min-width:1440px) {

    .gallery article {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .gallery figure {
        width: 25%;
    }

    
}